{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
   <body >

      <div>
      <nav  class="navbar navbar-toggleable navbar-dark bg-inverse" id="nav-main">
        <a class="navbar-brand"  href="#"><img src="{% static 'image/logo.png' %}" width="300" height="120" alt="anil" ></a>
        <ul class="nav navbar-nav mr-auto">
        
                    <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'homepage' %}">HOME<span class="sr-only">(current)</span> </a>
                
            </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle  text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          CCI
        </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">SAA's</a>
            <a class="dropdown-item" href="#">Open Shelters</a>
            <a class="dropdown-item" href="{% url 'Children Homes' %}">Children Homes</a>
            <a class="dropdown-item" href="{% url 'Special Homes' %}">Special Homes</a>
            <a class="dropdown-item" href="{% url 'Observation Homes' %}">Obesrvation Homes</a>
            <a class="dropdown-item" href="{% url 'Place For Safety' %}">Places of Safety</a>
        </div>
      </li>
               <li class="nav-item ">
                <a class="nav-link text-white" href="{% url 'post_list' %}">CWC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'lost' %}">Lost&Found</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link  text-white" href="#">About us</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
            {% if user.is_authenticated %}
                <a class="nav-link text-white" href="#">Hello {{ user.username }}</a>
            {% endif %}
            </li>
             
        </ul>
        <form class="form-inline pull-md-right">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn" type="submit">Search</button>
        </form>
       </nav>
      </div>
      <div style="background: url('{% static 'image/observationhome.jpg' %}') no-repeat bottom; background-size: cover;max-height: 80vh;">
         <div style="background-color: rgba(40,88,96,0.79);width: 100%;padding:50px 20px;margin: 0px;text-align:center;vertical-align:middle;">
            <h1 class="text-white" style="text-align: center;margin-top: 25vh"><strong>Observation Homes</strong></h1>
            <p class="text-white" style="text-align: center;margin-top: 2vh;">Observation Homes are meant for the temporary reception of any juvenile in conflict with law during the pendency of any inquiry against him/her.</p>
            <p class="text-white" style="text-align: center;margin-top: 2vh;">Only children in conflict with law brought under the purview of the Indian Penal Code and other legislations are produced before the Juvenile Justice Board.</p>
            <p class="text-white" style="text-align: center;margin-top: 2vh;">Any State Government may establish and maintain either by itself or under an agreement with voluntary organizations,</p>
            <p class="text-white" style="text-align: center;margin-top: 2vh;margin-bottom: 8vh;">observation homes in every district or a group of district.</p>
         </div>
      </div>

          <div style="margin:10vh 30vw">
            <p style="font-size: 5vh">Find Observation Homes in your state</p>
            <p style="font-size: 5vh">Enter your state</p>
                     <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    State
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="overflow:auto; height: 200px; ">
    <a class="dropdown-item" href="#">Andaman & Nicobar Islands(Union territory)</a>
    <a class="dropdown-item" href="#">Andhra Pradesh</a>
    <a class="dropdown-item" href="#">Arunachal Pradesh</a>
    <a class="dropdown-item" href="#">Assam</a>
    <a class="dropdown-item" href="#">Bihar</a>
      <a class="dropdown-item" href="#">Chandigarh(Union territory)</a>
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Chattisgarh</a>
    <a class="dropdown-item" href="#">Dadra & Nagra Haveli(Union territory)</a>
    <a class="dropdown-item" href="#">Daman & Diu(Union territory)</a>
    <a class="dropdown-item" href="{% url 'listdl'%}">Delhi(national Capital Territory)</a>
    <a class="dropdown-item" href="#">Goa</a>
    <a class="dropdown-item" href="#">Gujarat</a>
    <a class="dropdown-item" href="#">Haryana</a>
    <a class="dropdown-item" href="#">Himachal Pradesh</a>
    <a class="dropdown-item" href="#">Jammu & Kashmir</a>
    <a class="dropdown-item" href="#">Jharkhand</a>
    <a class="dropdown-item" href="#">Karnataka</a>
    <a class="dropdown-item" href="#">Kerela</a>
    <a class="dropdown-item" href="#">Lakshadweep(Union Territory)</a>
    <a class="dropdown-item" href="#">Madhya Pradesh</a>
    <a class="dropdown-item" href="{% url 'listmb'%}">Maharastra</a>
    <a class="dropdown-item" href="#">Manipur</a>
    <a class="dropdown-item" href="#">Meghalaya</a>
    <a class="dropdown-item" href="#">Mizoram</a>
    <a class="dropdown-item" href="#">Nagaland</a>
    <a class="dropdown-item" href="#">Odissa</a>
    <a class="dropdown-item" href="#">Puducherry(Union Territory)</a>
    <a class="dropdown-item" href="#">Punjab</a>
    <a class="dropdown-item" href="{% url 'listjp'%}">Rajasthan</a>
    <a class="dropdown-item" href="#">Sikkim</a>
    <a class="dropdown-item" href="#">Tamil nadu</a>
    <a class="dropdown-item" href="#">Telangana</a>
    <a class="dropdown-item" href="#">Tripura</a>
    <a class="dropdown-item" href="#">Uttrakhand</a>
    <a class="dropdown-item" href="#">Uttar Pradesh</a>
    <a class="dropdown-item" href="{% url 'listkl'%}">West Bengal</a>
  </div>
</div>

          </div>


        <div style="background: black;max-height: 70vh " class="jumbotron jumbotron-fluid">
       <table style="border: hidden " class="table table-hover-">
           <tr style="border: hidden">
               <td><a style="padding-left: 150px;" href="#" class="text-white" >Home</a></td>
               <td><a style="padding-left: 150px;" href="#" class="text-white" >About us</a></td>
               <td><a style="padding-left: 150px;" href="#" class="text-white" >Contact us</a></td>
           </tr>
           <tr style="border: hidden">
               <td><a style="padding-left: 150px;" href="#" class="text-white" >Feedback</a></td>
               <td><a style="padding-left: 150px;" href="#" class="text-white" >Adoption</a></td>
               <td><a style="padding-left: 150px;" href="#" class="text-white" >Donate to CCI</a></td>
           </tr>
           <tr style="border: hidden">
               <td><a style="padding-left: 150px;" href="#" class="text-white"  >CWC Cases</a></td>
               <td><a style="padding-left: 150px;" href="#" class="text-white" >CCI portal in media</a></td>
               <td><a style="padding-left: 150px;" href="#" class="text-white" >Lost&found children</a></td>
           </tr>
       </table>
       <a href="https://www.facebook.com/anil.lohar.50364" type="button" style=" background: #3B5998; color: white; padding: 2vh;" class="btn btn-social-icon btn-fb" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://www.linkedin.com/in/anil-lohar-195967111/" type="button" style="background: #007bb5;color: white; padding: 2vh;" class="btn btn-social-icon btn-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
   </div>
   <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>