<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  </head>
   <body >


<!DOCTYPE html>
<html>

<head>
<title>Sign Up</title>
</head>
<style>
    input::placeholder {
  color: azure;
</style>
<body>
  <div style="padding: 10vh 10vw ; background-color: rgba(0,0,0,0.71)">
    <form action="#" method="Post" target="_blank" autocomplete="on">{% csrf_token %}
	    
      <fieldset class="text-white">
		    <legend class="text-white">Create an Account!</legend>
      
{{form.as_p}}
<input class="btn btn-outline-success" type="submit" value="Sign up"><br><br>
<p class="text-white"><strong>Already have an account?</strong> <a class="text-danger" href="loginpage.html">Login here</a></p>
      </fieldset>
    </form>
  </div>
</body>
</html>
 <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>




